<!DOCTYPE html>
<html lang="en">
<head>
    <title>DIVERSITY</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<head>
<body>
    <div class="jumbotron jumbotron-fluid">
                <div class="container">
                          <h1 class="display-4"style="color:DarkSlateGrey">Diversity Analysis</h1>
                          <br>
                </div>
            </div>
            </body>
           </head>
<head>
    <body>
        <h2>
            <a href="/">Back home</a>
        </h2>
    </body>
    <body>
            <div class="container">
            <h4 style="font-size:150%;" style='color:DarkCyan'>Select a Fingerprint</h4>
            <br>
            <a class="btn btn-lg" style="border-color: darkcyan" style="color:darkcyan;" style="font-size:300%;"  href="/morgan" role="button">MORGAN 2</a>
            <!-- <br> -->
            <!-- </div> -->
            <!-- <br> -->
            <!-- <br> -->
            <!-- <div class="container"> -->
                <a class="btn btn-lg" style="border-color: darkcyan" style="color:darkcyan;" style="font-size:300%;"  href= "/morgan3" role="button">MORGAN 3</a>
                <br>
                </div>
                <br>
                <br>
            <div class="container">
            <a class="btn btn-lg" style="border-color: darkcyan" style="color:darkcyan;" style="font-size:300%;"  href= "/maccskeys" role="button">MACCS Keys</a>
            <br>
            </div>
            <br>
            <br>
            <div class="container">
                    <a class="btn btn-lg" style="border-color: darkcyan" style="color:darkcyan;" style="font-size:300%;"  href="/atom" role="button">Atom Pair</a>
            <br>
            </div>
            <br>
            <br>
            <div class="container">
            <a class="btn btn-lg" style="border-color: darkcyan" style="color:darkcyan;" style="font-size:300%;"  href="/topological" role="button">Topological</a>
            <br>
            </div>
            <br>
            <br>
    </body>
</head>